@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: #262B2D;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}