@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: #262B2D;

}

@media (max-width: 800px) {
	body {
		padding-left: 30px;
  		padding-right: 30px;
	}
}
textarea {
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px;
    border: 1px solid #B3B4B4 !important;
    background: none;
    border: none;
    color: #B3B4B4;
    font-size: 16px;
    margin-top: 10px;
    
}
.contactRight {
	margin-right: 100px;
}

textarea ::placeholder,
::-webkit-input-placeholder {
    color: #B3B4B4;
}
:-ms-input-placeholder {
 color: #B3B4B4;
}

.inputLogin {
  width: 250px !important;
  margin-left: 20px;
  margin-top: 30px;
}


.selected {
  background: #DBDEDF;
  opacity: 1 !important;
}

.div-input {
	display: 'flex';
	flex-direction: 'column';
}

.first-input {
	width: 100%;
	margin-top: 70px;
}

.span-address {
	margin-top: 20; 
}

.my-node-enter {
	opacity: 0;
}

.my-node-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}

.my-node-exit {
	opacity: 1;
}
  
.my-node-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}

.icon-topbar {
	display: none;
}

input:focus {
	color: #FFF !important;
	border-bottom: 1px solid #21AFE9 !important;
}

input:focus::placeholder, textarea:focus::placeholder{
	color: #FFF !important; 
}

textarea:focus {
	color: #21AFE9 !important;
	border: 1px solid #21AFE9 !important;
}


@media (max-width: 650px) {
	.icon-topbar {
		display: flex;
	}

	body {
		padding-bottom: 50px;
	}

}

@media (max-width: 570px) {
	textarea {
		height: 133px;
		margin-top: 30px;
	}

	.span-address {
		width: 100%;
	}

	input, button, a {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	
}


@media (max-width: 1250px) {
	.div-input{
		width: 100% !important;
	}
}
