@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: #262B2D;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;

 
}
@media (max-width: 800px) {
	body {
		padding-left: 30px;
  		padding-right: 30px;
	}
}



textarea {
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px;
    border: 1px solid #B3B4B4 !important;
    background: none;
    border: none;
    color: #B3B4B4;
    font-size: 16px;
    margin-top: 10px;
    
}
textarea ::placeholder,
::-webkit-input-placeholder {
    color: #B3B4B4;
}
:-ms-input-placeholder {
 color: #B3B4B4;
}

.inputLogin {
  width: 250px !important;
  margin-left: 20px;
  margin-top: 30px;
}


.selected {
  background: #DBDEDF;
  opacity: 1 !important;
}